h1 
  = "This is #{@name}'s page"

a href='https://github.com/pyotrkoryakin' target='blank'
  'This is My GitHub Page

/ <h1>
/   <%= "This is #{@name}'s page" %>
/ </h1>
/ <a href="https://github.com/pyotrkoryakin" target="blank">
/   This is My GitHub Page
/ </a>
