<<<<<<< HEAD
<%= render "form" %>
=======
<h1> Create subfolder </h1>

<%= render @folder.parent if @folder.parent %>

<%= render "form" %>

<p><%= link_to "Back to Folders", folders_path %></p>
>>>>>>> 51fd3448e66c7187906451b264cc4f71892c942f
